html,
body {
    background: linear-gradient(90deg, #dbdbdb 61%, #FFA200 100%);
    height: 100%;
    padding-bottom: 8%;
}

footer {

    background-color: #212529;
    width: 100%;

}

p {
    color: rgb(61, 61, 61);
}

footer p {
    color: rgb(255, 166, 0);
}

.side-bar {
    /*  */
}

.nav-link {
    color: rgb(255, 166, 0);
}

.navbar-nav .nav-link.active {
    color: rgb(128, 128, 128);
}

.navbar-toggler {
    background-color: white;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-text,
.footer-text {
    margin: auto auto;
}

.text-center {
    text-align: center !important;
}

.table input {
    width: 100%;
}

.left-style {

    background-color: #363636;
}

.invisible {
    display: block;
    display: none;
}


@media (max-width: 750) {
    .left-style {
        display: none;
    }
}